/* setting of the list */
.outlist{
    padding: 7vw;
}

.outlist > li{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    font-weight: bold;
}
.outlist > ul > li{
    font-family: 'Balsamiq Sans', cursive;
    font-size: x-large;
    padding: 0.8vh 0px;
}

/* backgroud setting */
body{
    margin: 0px;
    padding: 0px;
}

#menu{
    width: 100%;
    height: 90vh;
    background-color: #F0CEA0;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#typing_area{
    width: 90%;
    height: 55%;
    justify-content: flex-start;
    align-items: center;
}

#switch_area{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.switch_box:nth-child(1){
    background-color: #dd5f32;
}
.switch_box:nth-child(2){
    background-color: #4298b5;
}
.switch_box:nth-child(3){
    background-color: #92b06a;
}
.switch_box:nth-child(4){
    background-color: #ecb83c;
}

.switch_box{
    display: inline;
    width: 15vw;
    height: 15vw;
    margin: 0vw 1.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:black;
}

.switch_box > img{
    width: auto;
    height: 40%;
}

#typing{
    font-size: 480%;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: flex-start;
}

#Profile{
    width: 100%;
    height: 100vh;
    background-color: #dd5f32;
    opacity: 70%;
    margin: 0px;
    padding: 0px;
}
#Profile > .left{
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Profile > .right{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.self_img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#Myphoto{
    width: 60%;
    height: auto;
    border-radius: 20%;
    border: solid black;
    border-width: 6px;
}
.social_media{
    width: 100%;
    height: 5vh;
    margin: 5vh 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.media_container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.social_media img{
    height: 100%;
    width: auto;
    display: inline;
}

#Experience{
    width: 100%;
    height: 100vh;
    background-color: #4298b5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.timeline{
    position: absolute;
    top: 2vw;
    left: 50vw;
    width: 0.4vw;
    height: 90%;
    background-color: gray;
}
.timepoint{
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 49.2vw;
    border-radius: 50%;
    background-color: gray;
}
.experience_box{
    position: absolute;
    width: 20vw;
    height: 7vw;
    background-color: gray;
}


#Projects{
    width: 100%;
    height: 100vh;
    background-color: #92b06a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project_box{
    background-color: #bbded6;
    width: 60%;
    height: 10%;
    border-radius: 30px;
    margin: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    font-weight: bold;
}

#Awards{
    width: 100%;
    height: 100vh;
    background-color: #f7f5f1;
}
#Awards img{
    width: auto;
    height: 50vh;
}
#Awards > .left{
    float: left;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Awards > .right{
    float: left;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecb83c;
}

.honor_box{
    width: 70%;
    height: 13%;
    background-color: #ecb83c;
    border-radius: 5px;
    margin: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1vh 1vh;
}
.honor_box > p{
    font-family: 'Balsamiq Sans', cursive;
    font-size: larger;
    margin: 0px 0px 1vh;
    padding: 0px;
}
.honor_box:hover{
    opacity: 70%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

