/* setting of the list */
.outlist{
    padding: 5vw;
}

.outlist > li{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    font-weight: bold;
}
.outlist > ul > li{
    font-family: 'Balsamiq Sans', cursive;
    font-size: x-large;
    padding: 0.8vh 0px;
}

/* backgroud setting */
body{
    margin: 0px;
    padding: 0px;
}

#menu{
    width: 100%;
    height: 90vh;
    background-color: #f2eadd;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#typing_area{
    width: 90%;
    height: 55%;
    justify-content: flex-start;
    align-items: center;
}

#switch_area{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.switch_box:nth-child(1){
    background-color: #dd5f32;
}
.switch_box:nth-child(2){
    background-color: #e19d29;
}
.switch_box:nth-child(3){
    background-color: #92b06a;
}
.switch_box:nth-child(4){
    background-color: #4298b5;
}

.switch_box{
    display: inline;
    width: 15vw;
    height: 15vw;
    margin: 0vw 1.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:black;
}

.switch_box > img{
    width: auto;
    height: 40%;
}

#typing{
    font-size: 480%;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: flex-start;
}

#Profile{
    width: 100%;
    height: 100vh;
    background-color: #dd5f32;
    opacity: 70%;
    margin: 0px;
    padding: 0px;
}
#Profile > .left{
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#Profile > .right{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#Myphoto{
    width: 70%;
    height: auto;
    border-radius: 20%;
}

#Experience{
    width: 100%;
    height: 100vh;
    background-color: #e19d29;
    opacity: 70%;
}
#Projects{
    width: 100%;
    height: 200vh;
    background-color: #92b06a;
    opacity: 70%;
}
#Awards{
    width: 100%;
    height: 100vh;
    background-color: #4298b5;
    opacity: 70%;
}

#End{
    width: 100%;
    height: 20vh;
    background-color: #f2eadd;
}