/* Take out underline of a tag */
a {
    text-decoration:none;
}
a:link, a:visited{
    color: black;
}

* {
    margin: 0px;
    padding: 0px;
}

/* setting of the list */
.outlist{
    margin: 0px 5vw;
    padding: 0px 7vw;
}

.outlist > li{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    font-weight: bold;
}
.outlist > ul > li{
    font-family: 'Balsamiq Sans', cursive;
    font-size: x-large;
    padding: 0.8vh 0px;
}

#menu{
    width: 100%;
    height: 90vh;
    background-color: #F0CEA0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#typing_area{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#switch_area{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch_box:nth-child(1){
    background-color: #dd5f32;
}
.switch_box:nth-child(2){
    background-color: #4298b5;
}
.switch_box:nth-child(3){
    background-color: #92b06a;
}
.switch_box:nth-child(4){
    background-color: #ecb83c;
}

.switch_box{
    float: left;
    width: 15vw;
    height: 15vw;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:black;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.switch_box > img{
    width: auto;
    height: 40%;
}

#typing{
    font-size: 480%;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: flex-start;
}

#Profile{
    width: 100%;
    height: 100vh;
    background-color: #dd5f32;
    opacity: 70%;
    margin: 0px;
    padding: 0px;
}
#Profile > .left{
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Profile > .right{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.self_img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#Myphoto{
    width: 60%;
    height: auto;
    border-radius: 20%;
    border: solid black;
    border-width: 6px;
}
.social_media{
    width: 100%;
    height: 5vh;
    margin: 5vh 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.media_container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_media a{
    margin: auto;
}
.social_media img{
    height: auto;
    width: 35%;
}

#Experience{
    width: 100%;
    height: 100vh;
    background-color: #4298b5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.timeline{
    position: absolute;
    top: 2vw;
    /*** 
        left = 50 - 1/2 * width 
    ***/
    left: 49.7vw;
    width: 0.6vw;
    height: 90vh;
    background-color: #a5dff9;
    border-radius: 3px;
}
.timepoint{
    position: absolute;
    width: 2vw;
    height: 2vw;
    /*** 
        left = 50 - 1/2 * width 
    ***/
    left: 49vw;
    border-radius: 50%;
    background-color: #1F6ED4;
}
.experience_box{
    position: absolute;
    width: 26vw;
    height: 8vw;
    background-color: #a5dff9;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    border-color: #1F6ED4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.experience_box > p{
    font-family: 'Balsamiq Sans', cursive;
    font-size: larger;
    margin: 0px 0px 1vh;
    padding: 0px;
}


#Projects{
    width: 100%;
    height: 120vh;
    background-color: #92b06a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project_box{
    background-color: #bbded6;
    width: 60%;
    height: 10%;
    border-radius: 30px;
    margin: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.content{
    width: 90%;
    height: 90%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.content > .image{
    width: 40%;
    height: auto;
    float: left;
}
.image > img{
    width: 80%;
    height: auto;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    font-weight: bold;
}

.discription{
    font-family: 'Balsamiq Sans', cursive;
    font-size: larger;
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
}

#Awards{
    width: 100%;
    height: 100vh;
    background-color: #f7f5f1;
}
#Awards img{
    width: auto;
    height: 30vh;
}
#Awards > .left{
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Awards > .right{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecb83c;
}

.honor_box{
    width: 70%;
    height: 13%;
    background-color: #ecb83c;
    border-radius: 5px;
    margin: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1vh 1vh;
}
.honor_box > p{
    font-family: 'Balsamiq Sans', cursive;
    font-size: larger;
    margin: 0px 0px 1vh;
    padding: 0px;
}
.honor_box:hover{
    opacity: 70%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

footer{
    width: 100%;
    height: 30vh;
}
footer p, footer h2{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0px 0.5vw;
}
footer .left{
    width: 70%;
    height: 100%;
    background-color: #ecb83c;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ref_topic{
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
}
.reference{
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reference:hover{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.reference > img {
    height: 80%;
    width: auto;
}

footer > .right > img{
    width: auto;
    height: 40%;
}
footer .right{
    width: 30%;
    height: 100%;
    float: left;
    background-color: #f7f5f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/***
RWD 
***/
@media screen and (max-width: 1000px) {
    
    #menu{
        height: 40vh;
    }
    #typing_area{
        height: 80%;
    }
    #switch_area{
        height: 55%;
        display: none;
    }

    #typing{
        font-size: xx-large;
    }

    .switch_box{
        width: 30vw;
        height: 30vw;
    }
    #Profile{
        height: 200vh;
    }
    #Profile > .right{
        height: 40%;
        width: 100%;
        flex-direction: column;
    }
    #Profile > .left{
        height: 60%;
        width: 100%;
    }
    .social_media{
        margin-bottom: 1vh;
    }
    .self_img, .social_media{
        justify-content: center;
    }

    .timeline, .timepoint{
        display: none;
    }
    .experience_box{
        width: 60vw;
        margin: 5% 0px ;
    }

    #Awards{
        height: 200vh;
    }
    #Awards > .left{
        height: 50%;
        width: 100%;
    }
    #Awards > .right{
        height: 50%;
        width: 100%;
    }
    .honor_box{
        width: 90%;
    }
    .honor_box > p{
        font-size: medium;
    }
    .title{
        font-size: xx-large;
    }

    footer > .left{
        width: 100%;
        height: 50%;
    }
    footer > .right{
        width: 100%;
        height: 50%;
    }

    footer{
        height: 60vh;
    }
    
}
